.container {
  display: grid;
  grid-template-columns: 500px, 500px;
}
.about-container{
  display: grid;
}
.about-img {
  height: 350px;
  width: 450px;
}
.textShadow{
    text-shadow: 2px 2px #ff0000;
}
