
 .coffee-menu{
   height: 470px;
   width: 400px;
border: 1px solid rgb(98, 26, 26);
  border-radius: 12px;
 }
  .coffee-menu img{
    margin-top: 5px;
  height:250px;
  width:400px;
 border-radius: 8px;
}
h2{
  border-radius: 5px;
  font-size: 2rem;
  font-family: monospace;
  text-align: center;
  color: gold;
  background: #000;
}
.card-height{
  height: 350px;
  width: 450px;
}
/* p{
  color: darkorange;
  font-size: 22px;
} */
/* .coffee-menu{
  width: 350;
  border: 2px solid gray;
  /* height: 450; */

